/* variables */

/* colors */
$main-color: #ffffff;
$link-bg-color: #00008b;
$card-button-bg-color: #d68e8e;
$card-button-bg-color-hover: #ed8f8f;
$input-bg-color: #d8492e;
$input-bg-color-hover: #d0432a;

/* shadows and gradients */
$button-box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0,
  rgba(0, 0, 0, 0.1) 0 3px 4px 0;
$app-bg-gradient: linear-gradient(limegreen, transparent),
  linear-gradient(90deg, skyblue, transparent),
  linear-gradient(-90deg, coral, transparent);
