@import "./Variables";

.details-box {
  text-align: center;

  .box-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }

  h1 {
    font-size: 2.5rem;
    color: $input-bg-color;

    @media screen and (max-width: 800px) {
      font-size: 1.5rem;
    }
  }

  h2 {
    font-size: 2rem;

    @media screen and (max-width: 800px) {
      font-size: 1.2rem;
    }
  }

  p {
    padding: 1%;
    font-size: 1.5rem;

    @media screen and (max-width: 800px) {
      font-size: 1rem;
    }
  }

  img {
    max-width: 350px;

    @media screen and (max-width: 800px) {
      max-width: 200px;
    }
  }

  span {
    color: $link-bg-color;
  }

  .details-link {
    text-decoration: none;
    color: $link-bg-color;

    &:hover {
      color: $main-color;
      background-color: $link-bg-color;
    }
  }

  .details-button {
    width: 100px;
    height: 40px;
    margin: 3%;
    font-size: 1rem;
    border-radius: 7px;
    border-width: 0;
    cursor: pointer;
    color: $main-color;
    background-color: $card-button-bg-color;

    &:hover {
      background-color: $card-button-bg-color-hover;
    }
  }
}
